<div>
	<p>
		How many GUID's do you want (1-2000): <input [(ngModel)]="opts.amount" type="number" id="howMany" name="howMany" min="1" max="2000"/>
</p>

<div>
  <div class="option"><input type="checkbox" [(ngModel)]="opts.isUppercase" /> Uppcase </div>
  <div class="option ml"><input type="checkbox" [(ngModel)]="opts.hasBraces" /> {{ '{}' }} Braces </div>
  <div class="option ml"><input type="checkbox" [(ngModel)]="opts.hasHyphens" /> Hypens</div>
</div>
<div class="pt" style="clear:both;">
  <div class="option"><input type="checkbox" [(ngModel)]="opts.b64Encode" />&nbsp;<a href="https://en.wikipedia.org/wiki/Base64" target="_blank">Base64 encode</a></div>
  <div class="option ml"><input type="checkbox" [(ngModel)]="opts.rfc7515" />&nbsp;<a href="https://tools.ietf.org/html/rfc7515#appendix-C" target="_blank">RFC 7515</a></div>
  <div class="option ml"><input type="checkbox" [(ngModel)]="opts.urlEncode" /> URL encode</div>
</div>

<div class="pt" style="clear: both;">
  <button type="submit" (click)="getUuids()" [disabled]="httpInFlight">Generate some GUIDs!</button>
</div>

<div class="pt">
  <input type="checkbox" [(ngModel)]="isDebugMode" /> <small>Is Debug Mode?</small>
</div>

<div *ngIf="isDebugMode">
  <div>
    <h4 style="font-family: Courier New;">this.opts</h4>
    <p>These values are bound to the checkboxes above that control how the UUID's are generated.</p>
    <pre>{{ opts | json}}</pre>
  </div>

  <div>    
    <h4 style="font-family: Courier New;">this.params</h4>
    <p>Shows the parameters available from the URL.</p>
    <pre>{{ params | json}}</pre>
  </div>
</div>

<div id="error" class="pt">
  <p>{{errorMessageResponse}}</p>
</div>

<div id="results" class="pt">
  <small>Results:</small>
  <textarea class="results" [(ngModel)]="uuidResults" rows="10" ></textarea>
  <small>Use these GUIDs at your own risk! No guarantee of their uniqueness or suitability is given or implied.</small>
</div>

<guid-info></guid-info>
</div>